[submodule "packages/manifesto-prezi4"]
	path = packages/manifesto-prezi4
	url = git@github.com:vincentmarchetti/manifesto-prezi4.git
[submodule "packages/manifest_viewer"]
	path = packages/manifest_viewer
	url = git@github.com:vincentmarchetti/iiif-manifest-viewer.git
[submodule "packages/x3d_transforms"]
	path = packages/x3d_transforms
	url = git@github.com:vincentmarchetti/iiif-x3d-transforms.git
